
.body{
    width: 100vw;
    height: 100vh;
    display:grid;
    place-content: center;
    background-color: gainsboro;
}
.form{
    min-width:500px;
    background-color: rgba(245, 245, 245, 0.411);
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 9px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.276);
}
h1{
    margin-bottom: 50px;
    font-size: 52px;
    font-weight: 600;
}
.summary{
display: flex;
flex-direction: column;
gap: 15px;
margin-bottom: 30px;
}
.summary p{
    background-color: white;
    padding: 15px 40px;
    border-radius: 9px;
    font-size: 18px;
}
.submitBtn{
border: none;
outline: none;
cursor: pointer;
color: white;
width: 100%;
background-color: blue;
padding: 15px 20px;
border-radius: 9px;
}